<div class="card text-white mb-12" style="">
  <div class="card-header bg-primary">Registrations
    <button class="btn btn-warning btn-sm float-end">Add</button>
  </div>
  <div class="card-body">

    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Registration Id</th>
        <th scope="col">Roll Number</th>
        <th scope="col">Subject Code</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let reg of registrations; let i = index" [attr.data-index]="i">
        <th scope="row">{{i+1}}</th>
        <td>{{reg.registrationId}}</td>
        <td>{{reg.rollNumber}}</td>
        <td>{{reg.subjectCode}}</td>
        <td>
          <button class="btn btn-primary btn-sm">Edit</button> &nbsp;
          <button class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
